openai
langchain
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
pandas
aiohttp
pyYAML
numpy
langchain-huggingface
huggingface_hub
transformers
accelerate
bitsandbytes
langchain_community
gradio
langchain-pinecone
chromadb
lark
openpyxl
